*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background: white;
    width: 100vw;
    height: 100vh;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.button
{
    width: 100px;
    height: 100px;
    margin: 10px;
    border-color: black;
    border-width: 12px;

}
#grey{
    background-color: grey;
}
#red{
    background-color: red;
}
#blue{
    background-color: blue;
}
#yellow{
    background-color: yellow;
}
.main{
    display: flex;
    flex-direction: row;

}



